.app {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.headline {
    display: flex;
    flex-basis: 100%;
    justify-content: center;
    font-size: 30px;
    height: 152px;
}

.container {
    height: calc(100vh - 152px);
}