.HiddenContent {
    height: 0;
}

.HiddenItem {
    height: 40px;
}

.AccordionContent {
    color: black;
    display: block;
    overflow: hidden;
    background-color: white;
}

.AccordionButton {
    width: 100%;
    height: 40px;
}